# OS/editor
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*

# Netlify cache (if present locally)
.netlify/

# Python caches (in case you keep scripts here)
__pycache__/
*.pycpublic/vids_full/
hello.txt
public/_tt_black_global.json
public/vids_full/
